@model FindMyRestaurant.Models.Usuario

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Listado de Precio</h2>

<p>
    @Html.ActionLink("Nuevo", "New")
</p>
<table class="table">
    <tr>
        <th>
            Nombre : 
        </th>
        <th>
            Precio mayor :
        </th>
        <th>
            Precio Medio : 
        </th>
        <th>
            Precio Menor : 
        </th>
        
        <th></th>
    </tr>

    @foreach (var item in new FindMyRestaurant.Models.RangoPrecio().SelectRangoPrecios())
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)  
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioMayor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioMedio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioMenor)
            </td>
            
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
