@model FindMyRestaurant.Models.Usuario

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Listado de Usuarios</h2>

<p>
    @Html.ActionLink("Nuevo", "New")
</p>
<table class="table">
    <tr>
        <th>
            User
        </th>
        <th>
            Contraseña
        </th>
        <th>
            Nombre
        </th>
        <th>
            Email
        </th>
        <th>
            Transporte
        </th>
        <th></th>
    </tr>

    @foreach (var item in new FindMyRestaurant.Models.Usuario().SelectUsuarios())
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User)  
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contraseña)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @{
                    var Transporte = new FindMyRestaurant.Models.Transporte().SelectTransporte(item.IdTransporte).Nombre;
                    
                }
                @Transporte
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
