@model FindMyRestaurant.Models.Restaurante


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Listado de Restaurantes</h2>

<p>
    @Html.ActionLink("Nuevo", "New")
</p>
<table class="table">
    <tr>
        <th>
            Nombre
        </th>
        <th>
           Tipo de restaurante
        </th>
        <th>
            Valoracion
        </th>
        <th>
            Rango de precio
        </th>
        <th>
           Direccion
        </th>
        <th>
            Ciudad
        </th>
        <th>
            Telefono
        </th>
        <th></th>
    </tr>

    @foreach (var item in new FindMyRestaurant.Models.Restaurante().SelectRestaurantes())
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)  
            </td>
            <td>
                @{
                    var TipoRestaurante = new FindMyRestaurant.Models.TipoRestaurante().SelectTipoRestaurante(item.IdTipoRestaurante).Nombre;

                }
                @TipoRestaurante
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valoracion)
            </td>
            <td>
                @{
                    var RangoPrecio = new FindMyRestaurant.Models.RangoPrecio().SelectRangoPrecio(item.IdRangoPrecio).Nombre;

                }
                @RangoPrecio
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @{
                    var Ciudad = new FindMyRestaurant.Models.Ciudad().SelectCiudad(item.IdCiudad).Nombre;

                }
                @Ciudad
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>

            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
